{% extends "base.html.twig" %} {% block body %}
<div class="message">{{ message }} </div>
<h2>Mise à jour d'une voiture</h2>
<div class="form-container">
    <form method="post" action="update_car.php" name="userCreateForm">
        <div class=" form-group ">
            <label for="id">Id :</label>
            <input type="text" name="id" class="form-control" placeholder="Id de la voiture">
        </div>
        <div class=" form-group ">
            <label>Marque :</label>
            <input type="text" name="brand" class="form-control" placeholder="Marque de la voiture">
        </div>
        <div class="form-group ">
            <label>Modèle :</label>
            <input type="text" name="model" class="form-control " placeholder="Modèle de la voiture">
        </div>
        <div class="form-group">
            <label for="color">Couleur :</label>
            <input type="text" name="color" class="form-control " placeholder="Couleur de la voiture">
        </div>
        <div class="form-group">
            <label for="nbrSlots">Nombre de places :</label>
            <input type="number" name="nbrSlots" class="form-control ">
        </div>
        <button type="submit " class="btn btn-primary ">Modifier</button>
    </form>
    {% endblock %}